[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
discord-logging = {editable = true, git = "https://github.com/Watchful1/DiscordLogging.git"}
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
